<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
    <head>
            <!-- reset CSS -->
        <link href="css/reset.css" rel="stylesheet"/>
        <!-- Custom styles for this template -->
        <link rel="stylesheet/less" type="text/css" href="css/common.less" />
        <script src="js/less.min.js" type="text/javascript"></script>
    </head>    
    
    <body>
        <!-- ================================================================================= 
                                       컨텐츠 부분
        ================================================================================= -->

        <div th:if="${message}">
            <h2 th:text="${message}"/>
        </div>

        <div>
            <!--자막 입력 Table START-->
            <form method="POST" enctype="multipart/form-data" action="/upload">
                <div class="uploadTable">
                    <div class = "uploadWrapper">
                        <p class="subtitleInputLabel">자막명</p>
                        <input class="subtitleNameInput" type="text" name="name" />
                    </div>
                    <div class = "uploadWrapper filebox">
                        <p class="subtitleInputLabel">자막파일</p>
                        <label for ="uploadFile" class="subtitleFileLabel"></label>
                        <input class="fileUploadBtn" id ="uploadFile" type="file" name="file" /><!--여기 아이디 썼습니다.-->
                    </div>
                    
                    <input class="uploadBtn" type="submit" value=" "/>
                </div>
            </form>
            <!--자막 입력 Table START-->
        </div>
        
        <!-- ================================================================================= 
                                       컨텐츠 부분
        ================================================================================= -->
    </body>
    
</html>